.terraform/
.terraform/**
.terraform.*
*.tfstate
*.tfstate.*
*~
.TODO*
terraform-labs-udemy/
Getting-Started-Terraform-pluralsignt/
getting-started-terraform-pluralsight-docs/
Deep-Dive-Terraform-docs/
Deep-Dive-Terraform/
Getting-Started-with-Terraform-Cloud/
